.address-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  transition: all 0.2s;
  display: none;
  @supports (-webkit-backdrop-filter: brightness(60%)) or
    (backdrop-filter: brightness(60%)) {
    -webkit-backdrop-filter: brightness(60%);
    backdrop-filter: brightness(60%);
  }

  @include respond(desktop) {
    top: -20rem;
    bottom: -5rem;
  }

  &--open {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__content {
    width: 96%;
    margin: 4.5rem auto;
    padding: 1rem 3rem 4rem 3rem;
    z-index: 3;
    background-color: $color-white;
    border-radius: 0.6rem;
    box-shadow: $box-shadow;
    animation: moveInDown 0.65s ease-out;

    @include respond(tab) {
      width: 80%;
    }

    @include respond(tab-land) {
      width: 60%;
    }

    @include respond(desktop) {
      width: 40%;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    color: $color-font-dark;

    @include respond(phone-land) {
      grid-template-columns: 1fr 4rem;
    }
  }

  &__title {
    text-align: center;
    color: inherit;
    font-size: 2.4rem;
    font-weight: 400;
    padding: 0.5rem;
  }

  &__close {
    cursor: pointer;

    &-icon {
      color: inherit;
      font-size: 2.7rem;
    }
  }

  &__body {
    margin: 3rem 0.5rem 0 0.5rem;
    border-radius: 3px;
    background-color: lighten($color-gray-light, 15%);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
