/* Header */

.header {
    background: linear-gradient(rgba($color-black, .6), rgba($color-black, .6)),
                                url(../../assets/img/header-sm.jpg);
    background-size: cover;
    background-position: center;

    height: 45rem;
    width: 100%;
    position: relative;
    color: $color-white;
    margin-top: 0;

    @include respond(tab) {
        background: linear-gradient(rgba($color-black, .4), rgba($color-black, .4)),
                                     url(../../assets/img/header-sm.jpg);
    }

    @include respond(tab-land) {
        padding: 0 12%;
        height: 55rem;

        background-size: cover;
        background-position: center;

        top: -4rem;
    }

    @include respond(desktop) {
        top: -7rem;
    }
}